<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <div class="forty">
      <!--default maps-->
      <agm-map id="mymap" *ngIf='defaultMaps' [latitude]="latitude" [zoom]="myzoom" [usePanning]="true" [longitude]="longitude">
        <agm-marker *ngFor='let strutt of struttureH' 
          [latitude]="strutt.latitude" [longitude]="strutt.longitude" (markerClick)='findHotelHere(strutt)'>
        </agm-marker>
        <agm-circle [latitude]="radiusLat" [longitude]="radiusLong" [radius]="radius" [fillColor]="'red'"
          [circleDraggable]="false" [editable]="false" >
        </agm-circle>
      </agm-map>
      <!--maps on add custom markers-->
      <agm-map id="mymap" *ngIf='customMaps' [latitude]="latitude" [zoom]="myzoom" [usePanning]="true" [longitude]="longitude">
        <agm-marker *ngIf='yourPosition' [latitude]="latitude" [longitude]="longitude" 
        [markerDraggable]="true" (dragEnd)="markerDragEnd($event)" [iconUrl]="CustomarkerIcon">
      </agm-marker>
        <agm-marker *ngFor='let strutt of filteredMarkers'
          [latitude]="strutt.latitude" [longitude]="strutt.longitude" (markerClick)='findHotelHere(strutt)'>
        </agm-marker>
        <agm-circle [latitude]="radiusLat" [longitude]="radiusLong" [radius]="radius" [fillColor]="'red'"
          [circleDraggable]="false" [editable]="false" >
        </agm-circle>
      </agm-map>
      <div class="div-tools">
        <ion-img [src]="segnapostImg" id="segnaposto-tool" (click)="placeMarkers()"></ion-img>
      </div>
    </div>
    <div class="select-div">
      <ion-progress-bar *ngIf='showLoader' [type]="'indeterminate'"></ion-progress-bar>
      <ion-item *ngIf='ionRegioneSelect'>
        <ion-label>Seleziona Regione</ion-label>
        <ion-select placeholder="Regioni" [(ngModel)]='regionName' (ionChange)="doRefresh($event)">
          <ion-select-option *ngFor='let region of allRegion' [value]="region.nome">{{region.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf='ionProvinceSelect'>
        <ion-label>Seleziona per Provincia</ion-label>
        <ion-select placeholder="Seleziona per provincia" [(ngModel)]='provinceName' (ionChange)="getH()">
          <ion-select-option *ngFor='let province of allProvinceForRegion' [value]="province.sigla">{{ province.sigla }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</ion-content>